body {
	font-family: 'Source code pro', Calibri, serif;
	margin: 0px;
	margin-left: 0;
	margin-right: 0;
}

.titre img {
	margin-top: 150px;
	width: 100%;
}

.texte{
	display: flex;
	align-items: center;
	background-image: url('../images/equipe/imgentreprise.jpg');
	background-size: cover;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 500px;
}

.contenue p {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: xx-large;
}

.badge {
	display: flex;
	justify-content: space-evenly;
	background-color: black;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 300px;
}